$font-family: "Nunito", sans-serif;

$font-size-lg: pxToRem(18px);

$padding-md: pxToRem(12px);

$border-radius-md: 12px;
$border-radius-lg: 18px;

$box-shadow-default: 0px 10px 13px -4px $shadow-default;
