@import "colors";
@import "utils";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-lg;
  font-weight: 800;
  color: $text-default;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
